body {
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  background-image: url('../images/pattern-curve.svg');
  background-repeat: no-repeat;
  background-position: bottom;
}

.hide {
  display: none;
}

/* font-family: 'Inter', sans-serif; 300, 500, 700 */

.slide-list {
  width: 90%;
  margin: 0 auto;
  background-image: url('../images/pattern-bg.svg');
  background-position: top center;
  background-size: cover;
}

.testimonial-pfp {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.testimonial-slide-container {
  position: relative;
}

.testimonial-slider {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 1rem;
  border-radius: 500px;
  z-index: 2;
  background-color: hsl(0, 0%, 100%);
}

.slide-arrow {
  width: auto;
  height: 18px;
}